<app-sidebar-admin></app-sidebar-admin>
<div class="container">
    <div class="row col-md-8 custyle">
    <table class="table table-striped custab">
    <thead>
    <button id="bot" data-toggle="modal" data-target="#myModal" class="btn btn-primary btn-xs pull-right"><b>+</b> Add new dish</button>
        <tr >
            <th>ID</th>
                <th> Name</th>
                <th>Description</th>
                <th>Categore</th>
                <th>Price</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
            <tr *ngFor="let item of dish" [attr.id]="item.id">
                 <td>{{item.id}}</td>
                <td >{{item.NomPlat}}</td>
                <td >{{item.Description}}</td>
                <td >{{item.Categore}}</td>
                <td >{{item.Prix}} DA</td>
                <td class="text-center"><i data-toggle="modal" data-target="#editModal"   (click)="edit(item.id)" class="fas fa-edit"></i>
                 <i  data-toggle="modal" data-target="#delModal"  (click)="edit(item.id)"class="fas fa-trash"></i></td>
            </tr>
    </table>
    </div>
    <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <span class="modal-title"> create Dish</span>
          <button type="button" class="close" data-dismiss="modal">×</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
    
    <div class="form-div">
         <form (ngSubmit)="onCrDish(dis)" #dis="ngForm">
  <div class="form-group">
    <input type="text" class="form-control" name="NomPlat" placeholder="Dish Name" ngModel >
  </div>
  <div class="form-group">l
    
    <input type="text" class="form-control" name="Description" placeholder="Description" ngModel >
  </div>
  <div class="form-group">l
    
    <select class="form-control" name="Categore" placeholder="Categore" ngModel >
      <option value="Sandwich">Sandwich</option>
      <option value="Pizza">Pizza</option>
      <option value="Salade">Salade</option>
      <option value="Plat" selected>Plat</option>
      <option value="Boison">Drinks</option>
    </select>
  </div>
  <div class="form-group">l
    
    <input type="text" class="form-control" name="Prix" placeholder="Price" ngModel >
  </div>
  <button type="submit" class="btn btn-warning btn-block mybtn" id="addbtn">Add</button>
  
</form>
    </div>
        </div>
        
       
      </div>
    </div>
  </div>
  <div class="modal" id="editModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <span class="modal-title"> Edit Dish</span>
          <button type="button" class="close" data-dismiss="modal">×</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
    
    <div class="form-div">
         <form (ngSubmit)="onUpDish(etdis)" #etdis="ngForm">
  <div class="form-group">
    <input type="text" class="form-control" name="NomPlat" placeholder="Dish Name" ngModel >
  </div>
  <div class="form-group">l
    
    <input type="text" class="form-control" name="Description" placeholder="Description" ngModel >
  </div>
  <div class="form-group">l
    
    <select class="form-control" name="Categore" placeholder="Categore" ngModel >
      <option value="Sandwich" >Sandwich</option>
      <option value="Pizza">Pizza</option>
      <option value="Salade">Salade</option>
      <option value="Plat" >Plat</option>
      <option value="Boison">Drinks</option>
    </select>
  </div>
  <div class="form-group">l
    
    <input type="text" class="form-control" name="Prix" placeholder="Price" ngModel >
  </div>
  <button type="submit" id="editid" class="btn btn-warning btn-block mybtn"  >Edit</button>
  
</form>
    </div>
        </div>
        
       
      </div>
    </div>
  </div>
  
</div>
<div class="modal" id="delModal">
    <div class="modal-dialog">
      <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Are you sure???</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete (this)?</p>
        <div class="row">
            <div class="col-12-xs text-center">
                <button class="btn btn-success btn-md" (click)="dele()" data-dismiss="modal">Yes</button>
                <button class="btn btn-danger btn-md"  data-dismiss="modal">No</button>
            </div>
        </div>
      </div>
   
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


