<header >
    <app-navbar ></app-navbar>
 <div class="look">
   <h1>Look In Our Best Foods</h1>
   <a href="#">Best Of</a>
 </div>
</header>
<section class="sect-1">
<div>
  
  <div class="icns">
      <i class="glyphicon glyphicon-envelope"></i>
      <h2>Email</h2>
      <p><a href="#">info@domain.com</a><br><a href="#">luto@email.com</a></p>
  </div>
  <div class="icns">
      <i class="glyphicon glyphicon-phone"></i>
      <h2>Phone</h2>
      <p>+ 001 234 567</p>
      <p>+ 001 234 567</p>
  </div>
  <div class="icns">
      <i class="glyphicon glyphicon-time"></i>
      <h2>Opening Time</h2>
      <p>Sunday-Thersday</p>
      <span>8am - 9pm</span>
  </div>
  <div class="icns">
      <i class="	glyphicon glyphicon-map-marker"></i>
      <h2>Address</h2>
			<p>1962 West 5th  Street Connstantine ,Cons bp 25007 </p>
  </div>
</div>
</section>
