.row{
    font-size: 17px;
    margin-left: 25%;
}
i{
  color: #007bff;
  font-size: 18px;
}

tr{
    width: 370px;
}
td,th{
    margin-left: 3px;
}
th{
    font-size: 15px;
}
td{
    font-size: 17px;

}
.modal-title{
  font-size:16px;
  font-family: 'Nanum Gothic', sans-serif;
  text-transform:uppercase;
  color:#fff;
  text-align:center;
  }
  .modal-header {
    padding:0.7rem 1rem;
    border-bottom: 1px solid #e9ecef;
   border-radius:0;
  background-color:#007bff;
}