header {
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../../../../assets/images/img_bg_5.jpg) ;
  background-size: cover;
   margin: 0px;
   padding: 0px;
  background-position: center;
  height: 100vh;
}
header #sidebar{
  position:fixed;
  width:200px;
  height:100%;
  background-color:#151719;
  left:-200px;
  
  transition:all 500ms linear;
}
header #sidebar.active{
  left:0px;
}

#sidebar ul li{
  color:rgba(230,230,230,0.9);
  list-style:none;
  padding:15px 10px;
  
  border-bottom:1px solid rgba(100,100,100,0.3);
}
#sidebar .toggle-btn{
  position:absolute;
  left:230px;
  top:20px;
}
#sidebar .toggle-btn span{
  display:block;
  width:30px;
  height:5px;
  background: #fff;
  margin:5px 0px;
}
#sidebar ul i{
position:absolute;
color: white;
margin-top: 16px;
font-size: 18px;
left: 25px;
}
#sidebar ul a{
  text-decoration: none;
}
#sidebar ul div {
  margin-top: 200px;
  position: relative;
  left: 25px;
}
#sidebar ul div i{
  position: unset;
  font-size: 25px;
  margin-bottom: 5px;
}
.home{
  margin-left : 100px;
  color: #fff;
}

 .titre{
  margin-left:300px;
}
.tit1{
  margin-top: 0px;
  padding-top: 150px;
}
 .tit2{
  margin-left: 400px;
}
.tit3{
margin-left: 380px;
}
header .code {

  align-content: center;
 
display: grid;
  grid-template-columns:20% 20% 20% 20% 20%;
  /*margin-left: 50px;*/
  /*padding: 25px;*/
  margin-left: 200px;
  margin-right: 200px;
  color: #fff;
  
}
h4{
  color: #fff;
  margin-left: 540px;
  margin-bottom:80px;
}
.code h2:after {
  display: inline-block;
  
height: 2px;
content: " ";

/*width: 100px;*/
}
.code .icns {
  text-align: center;
 display: block;
 height: 10px;
 content: " ";
 width: 150px;
}
.icns i{
  font-size: 25px;
  /*color: #fff;*/
}
.icns h2 {
  font-size: 17px;
}
button{
  margin-left: 45%;
  margin-top: 10%;
   border-radius: 6px;
  color: white;
  background-color: #008080;
    font-size: 15px;
}
button i{
  margin-right: 5px;


}
#uh{
  margin-top: 70px;
}
.row{
  margin-left: 200px;
  width: 900px;
}
.row .col-md-6 .col-md-offset-2 .custyle{
  width: 900px;
}
tr{
  font-size: 14px;
}
body{font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  color:#777;
  height: 600px;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}
  
  
  a{
    color:#777;
  }
  a:hover{
    color:#f39305;
    text-decoration:none;
    }
.text-center{text-align:center;}
.banner-heading{
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 75px;
    font-weight: 700;
    line-height: 100px;
    margin-bottom: 30px;
  color:#fff;
}
.banner-sub-heading{
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 30px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 50px;
  color:#fff;
}
.btn-warning{background-color:#eca439;}
.btn-warning:hover{background-color:#f39305;}
.mybtn{
  border-radius:0; 
  height:30px;
  margin:10px auto;
  line-height:10px;
}
.form-control{
  color:#d1d1d1;
  font-size:14px;
  font-weight:400;
  border-bottom:2px solid #f39305;
  border-top:0;
  border-left:0;
  border-right:0;
  height:30px;
}
.form-check-input{
  background-color:#fff !important;
  border-radius:50% !important;
  border:2px solid #f39305 !important;
}
.modal-content{
  width:400px;
  margin:auto;
}

.modal-header {
    padding:0.7rem 1rem;
    border-bottom: 1px solid #e9ecef;
   border-radius:0;
  background-color:#9a4a05;
}
.modal-title{
  font-size:16px;
  font-family: 'Nanum Gothic', sans-serif;
  text-transform:uppercase;
  color:#fff;
  text-align:center;
  }
.modal-body{
  background-image:url('http://snippetimg.meditialabs.com/bgs/bg1.jpg');
  background-position:top left;
  background-size:cover;
  width:100%;
  padding:1.5rem 3rem 3rem 3rem;
}
body.modal-open .supreme-container{
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
}
.text-intro{
  font-size:0.8em;
  color:#777;
  text-align:center;
}
.form-div{
  background-color:#fff;
  padding:2em 1.5em;
  box-shadow:2px 2px 2px 2px rgba(215,215,215,0.5);
}



form{
  border:0 !important;
}
@media (max-width:500px){
  .modal-content{
  width:330px;
  margin:auto;
}
.banner-heading{
  font-size: 30px;
    line-height: 30px;
    margin-bottom: 20px;
}
.banner-sub-heading{
  font-size: 10px;
    font-weight: 200;
    line-height: 10px;
    margin-bottom: 40px;
}
}
@media (max-width:768px){
  .banner-text{
  padding:150px 0 150px 0;
}
  .banner-sub-heading{
  font-size: 23px;
    font-weight: 200;
    line-height: 23px;
    margin-bottom: 40px;
}
}
