<header>
<div id="sidebar">
  <div class="toggle-btn" (click)="toggleSidebar()">
<span></span>
<span></span>
<span></span>
  </div>
 
  <ul>
    <i class="fa fa-home"></i>
    <a href="#"><li>Home </li></a>
    <i class="fa fa-registered"></i>
    <a [routerLink]="['/user/reservation/booking']" routerLinkActive="active"  ><li>Booking</li></a>
    <i class="fa fa-truck"></i>
    <a [routerLink]="['/user/reservation/delivry']"><li>delivry</li></a>
    <i class="fa fa-edit"></i>
    <a [routerLink]="['/user/reservation/edit']"><li>Edit</li></a>
    <i class="fa fa-history"></i>
    <a [routerLink]="['/user/reservation/history']" routerLinkActive="active" ><li>History</li></a>
    <div id="uh">
    <a title="Profile" data-toggle="modal" data-target="#mModal" (click)="profile()"><i class=" la5ar fa fa-user"></i></a>
    <br>
    <a  title="Logout" (click)="Logout()"><i class="fas fa-key"></i></a>
  
  </div>
  </ul>
</div>
<div class="home">
    <h1 class="titre tit1">wellcome On Algerian Nassem </h1>
    <h2 class="titre tit2">مرحبا بك في النسيم الجزائري</h2>
    <h3 class="titre tit3">Bonjour a Le Nassem Algerien</h3>
  </div>
  <br>
  <br>
  <h4 >Just remember Our Code</h4>
  
  <div class="code">
      <div class="icns">
          <i class="fa fa-trash"></i>
          <h2>Delete</h2>
          <p>You can't cancel a</p>
          <p>Booking on the</p>
          <p> day of arrival</p>
      </div>
      <div class="icns">
          <i class="fa fa-map"></i>
          <h2>Menu</h2>
          <p>You can't change</p>
          <p> MENU</p>
      </div>
      <div class="icns">
          <i class="glyphicon glyphicon-time"></i>
          <h2>Opening Time</h2>
          <p>Sunday-Thersday</p>
          <span>8am - 12pm</span>
      </div>
      <div class="icns">
          <i class="glyphicon glyphicon-cutlery"></i>
          <h2>Dish</h2>
          <p>You can take a</p>
          <p>look of our dishs</p>
      </div>
      <div class="icns">
          <i class="glyphicon glyphicon-check"></i>
          <h2>Table</h2>
          <p>You can book any </p>
          <p>table you like</p>
          <p>if available</p>
      </div>
    </div>
     <button data-toggle="modal" data-target="#myModal"><i class="glyphicon glyphicon-envelope"></i>Send Message</button>
     <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <span class="modal-title">Send Message</span>
          <button type="button" class="close" data-dismiss="modal">×</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
    
    <div class="form-div">
         <form (ngSubmit)="SendM(dis)" #dis="ngForm">
  <div class="form-group">
    <input type="text" class="form-control" name="Name" placeholder="Name" ngModel>
  </div>
  <div class="form-group">l
    
    <input type="text" class="form-control" name="Email" placeholder="Email" ngModel >
  </div>
  <div class="form-group">l
    
    <input type="text" class="form-control" name="Message" placeholder="Message" ngModel >
  </div>
  <button type="submit" class="btn btn-warning btn-block mybtn" id="addbtn">Send</button>
  
</form>
    </div>
        </div>
        
       
      </div>
    </div>
  </div>
  <div class="modal" id="mModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <span class="modal-title">Update User</span>
          <button type="button" class="close" data-dismiss="modal">×</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
    
    <div class="form-div">
         <form (ngSubmit)="SendU(dish)" #dish="ngForm">
  <div class="form-group">
    <input type="text" class="form-control" name="UserName" placeholder="{{username}}"  ngModel>
  </div>
  <div class="form-group">l
    
    <input type="text" class="form-control" name="Email" placeholder="{{email}}"  ngModel >
  </div>
  <div class="form-group">l
    
    <input type="text" class="form-control" name="PhoneNumber" placeholder="{{number}}"  ngModel >
  </div>
  
  <button type="submit" class="btn btn-warning btn-block mybtn" id="addbtn">Update</button>
  
</form>
    </div>
        </div>
        
       
      </div>
    </div>
  </div>
</header>
