/*    --------------------------------------------------
	:: General
	-------------------------------------------------- */
    body {
        font-family: 'Open Sans', sans-serif;
        color: #353535;
    }
    
    .content h1 {
        text-align: center;
    }
    .content .content-footer p {
        color: #6d6d6d;
        font-size: 12px;
        text-align: center;
    }
    .content .content-footer p a {
        color: inherit;
        font-weight: bold;
    }
    .media{
        width: 300px;
    }
    
   
    /*	--------------------------------------------------
        :: Table Filter
        -------------------------------------------------- */
    .panel {
        border: 1px solid #ddd;
        background-color: #fcfcfc;
        width: 800px;
    }
    
    .panel .btn-group {
        margin: 15px 0 30px;
    }
    .panel .btn-group .btn {
        transition: background-color .3s ease;
    }
    .table-filter {
        background-color: #fff;
        border-bottom: 1px solid #eee;
    }
    .table-filter tbody tr:hover {
        cursor: pointer;
        background-color: #eee;
    }
    .table-filter tbody tr td {
        padding: 10px;
        vertical-align: middle;
        border-top-color: #eee;
    }
    .table-filter tbody tr.selected td {
        background-color: #eee;
    }
    .table-filter tr td:first-child {
        width: 38px;
    }
    .table-filter tr td:nth-child(2) {
        width: 35px;
    }
    .ckbox {
        position: relative;
    }
    .ckbox input[type="checkbox"] {
        opacity: 0;
    }
    .ckbox label {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .ckbox label:before {
        content: '';
        top: 1px;
        left: 0;
        width: 18px;
        height: 18px;
        display: block;
        position: absolute;
        border-radius: 2px;
        border: 1px solid #bbb;
        background-color: #fff;
    }
    .ckbox input[type="checkbox"]:checked + label:before {
        border-color: #2BBCDE;
        background-color: #2BBCDE;
    }
    .ckbox input[type="checkbox"]:checked + label:after {
        top: 3px;
        left: 3.5px;
        content: '\e013';
        color: #fff;
        font-size: 11px;
        font-family: 'Glyphicons Halflings';
        position: absolute;
    }
    .table-filter .star {
        color: #ccc;
        text-align: center;
        display: block;
    }
    .table-filter .star.star-checked {
        color: #F0AD4E;
    }
    .table-filter .star:hover {
        color: #ccc;
    }
    .table-filter .star.star-checked:hover {
        color: #F0AD4E;
    }
    .table-filter .media-photo {
        width: 35px;
    }
    .table-filter .media-body {
        display: block;
        /* Had to use this style to force the div to expand (wasn't necessary with my bootstrap version 3.3.6) */
    }
    .table-filter .media-meta {
        font-size: 11px;
        color: #999;
    }
    .table-filter .media .title {
        color: #2BBCDE;
        font-size: 14px;
        font-weight: bold;
        line-height: normal;
        margin: 0;
    }
    .table-filter .media .title span {
        font-size: 15px;
        margin-right: 20px;
    }
    .table-filter .media .title span.Salade {
        color: #5cb85c;
    }
    .table-filter .media .title span.Sandwich {
        color: dodgerblue;
    }
    .table-filter .media .title span.Plat {
        color: #f0ad4e;
    }
    .table-filter .media .title span.Boison {
        color: yellow ;
    }
    .table-filter .media .title span.Pizza {
        color: #d9534f;
    }
    .table-filter .media .summary {
        font-size: 14px;
    }
    .btn-group .btn
    {
        font-size: 15px;
    }
    .botton{
        margin-top: 15px;

        transform: translate(45%, 50%);
    }
    /*----les bouttons-----*/
    .next{
        margin-left: 270px;
    }
    .next{
        background-color: #fff;
        border: 1px solid #FF6107;
        color:#FF6107;
        margin-right: 15px;
        display: inline-block;
        padding: 10px 30px;
        font-weight: 300;
        font-size:15px;
        text-decoration: none;
        border-radius: 200px;
        transition: background-color 0.2s, border 0.2s,color 0.2s;
    }
    
    .cancel{
        border: 1px double #6495ED;
        color:  #6495ED;
        display: inline-block;
        padding: 10px 30px;
        font-weight: 300;
        font-size:15px;
        background-color: #fff;
        text-decoration: none;
        border-radius: 200px;
        transition: background-color 0.2s, border 0.2s,color 0.2s;
    }
    
    .next:hover,
    .next:active{
    
        border: 1px solid #FF6107;
        color:  #fff;
        background-color:#FF6107;
    }
    .cancel:hover,
    .cancel:active{
        border: 1px solid #6495ED;
        color: #fff;
        background-color: #6495ED;
    }
    td .ad{
        height: 30px;
        width: 70px;
        border: forestgreen;
        border-radius: 10px; 
        color: #fff;
        background-color: forestgreen;
    }
   .fa{
       color: firebrick;
       margin-left: 3px;
       font-size: 20px;
    }
    .oun{
        margin-left: 230px;
    }